*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #cbc7e3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 5px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #9996aa;
    padding: 20px;
}
.page{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
}
input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}
#login_btn{
    width: 30%;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #613e8d;
    color: white;
    font-weight: 700;
}
header{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #613e8d;
    color: white;
    font-size: xx-large;
    font-weight: 700;
}
form > p{
    text-align: center;
    font-size: large;
}