*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #cbc7e3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    min-height: 100vh;  
    flex-direction: column;
}
header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #613e8d;
    color: white;
    font-size: xx-large;
    font-weight: 700;
}
#login-btn{
    width: 7%;
    background-color: #cbc7e3;
    color: black;
    font-weight: 700;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #9996aa;
    padding: 20px;
}
.page{
    flex: 1;                  /* takes remaining height below header */
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
}

input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}
form > p{
    text-align: center;
    font-size: large;
}
button{
    width: 30%;
    margin-top: 5px;
    cursor: pointer;
    background-color: #613e8d;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
}